footer div p a{
    text-decoration: none;
    color: white;
    font-weight: 300;
}
/* media query */
@media screen and (min-width:576px) and (max-width:768px) {
    .rounded .row div img{
        width: 100%;
    }
}
